/* Fonts */
@font-face {
  src: url(../fonts/ACIDL___.otf);
  font-family: ACIDLABEL; }
@font-face {
  src: url(../fonts/cityburn.ttf);
  font-family: cityburn; }
/* End Fonts */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End CSS Reset */
/* Main Eliments */
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: cityburn; }

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 30px; }

p {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px; }

a {
  color: #fff; }

a:hover {
  color: #aba38a; }

i {
  font-size: 20px;
  padding: 10px 10px 0 0; }

i:hover {
  color: #aba38a; }

input,
select,
textarea {
  background: #e1e1e1;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: cityburn;
  font-size: 20px;
  padding: 5px; }

input:focus,
select:focus,
textarea:focus {
  background: #fff; }

.container {
  display: none; }

/* End Main Eliments */
#wrapper {
  background: rgba(42, 42, 42, 0.9);
  border: 5px solid #691d06;
  min-height: 100vh; }

header {
  border-bottom: 5px solid #691d06;
  position: relative;
  text-align: center; }
  header img {
    display: block;
    width: 100%; }
  header h1 {
    font-family: ACIDLABEL;
    font-size: 5vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

main h2 {
  font-size: 35px;
  text-align: center;
  margin-top: 40px; }
main .form-message {
  color: red;
  font-size: 20px;
  margin-top: 30px;
  text-align: center; }
main form {
  margin: 20px auto;
  width: 70%; }
  main form label {
    color: #fff; }
  main form input[type=text],
  main form select,
  main form input[type=password] {
    width: 100%; }
  main form input[type=text],
  main form select,
  main form input[name=pwd] {
    margin-bottom: 10px; }
  main form .date_goal {
    display: flex; }
  main form .date,
  main form .goal {
    width: 100%; }
  main form .date {
    margin-right: 20%; }
  main form .submit {
    margin-top: 40px;
    overflow: hidden;
    text-align: center;
    width: 100%; }
  main form input[type=submit] {
    background: #8e320b;
    box-shadow: 3px 5px #000;
    color: #fff;
    font-size: 30px;
    font-family: cityburn;
    padding: 5px 40px; }
  main form input[type=submit]:hover {
    background: #2a2a2a;
    cursor: pointer; }
  main form a {
    float: right; }

footer {
  margin: 10px 0;
  text-align: center;
  width: 100%; }

/* Sign In / Sign Up Pages Desktop View */
@media only screen and (min-width: 900px) {
  #wrapper {
    background: none;
    border: none;
    margin: 0 auto;
    min-height: 70vh;
    width: 700px; }

  .mobile_view {
    display: none; }

  .desktop_view {
    display: flex;
    justify-content: center;
    padding: 20px; }

  header {
    border: 5px solid #691d06;
    margin: 10px 0 20px 0; }
    header h1 {
      font-size: 30px; }

  main {
    background: rgba(42, 42, 42, 0.9);
    border: 5px solid #691d06;
    min-height: 400px;
    box-sizing: border-box; }
    main h2 {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: left; }

  .content {
    width: 90%; }
    .content p {
      padding-top: 10px; }

  .logo {
    position: relative; }
    .logo img {
      width: 130%;
      z-index: 1; }

  .signin {
    float: right;
    left: 48px;
    position: absolute;
    top: -35px;
    width: 200px;
    z-index: 2; }

  .signup {
    float: right;
    position: absolute;
    left: 215px;
    top: -35px;
    width: 200px;
    z-index: 2; }

  .signin h2 a,
  .signup h2 a {
    color: #fff;
    position: absolute;
    text-decoration: none;
    text-shadow: 1px 1px 2px black; }

  .signin h2 a:hover,
  .signup h2 a:hover {
    text-shadow: 0 0 25px red, 0 0 25px #aba38a; }

  footer {
    display: none; }

  /* Floating Login Form */
  .login form {
    margin-top: 15px;
    padding: 0 20px; }
  .login .uid {
    margin-left: 35px; }
  .login .password {
    margin-left: 40px;
    padding-top: 10px; }
  .login input[type=text],
  .login input[type=password] {
    margin-left: 10px; }
  .login input[type=submit] {
    float: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 10px; }
  .login input[type=submit]:hover {
    cursor: pointer; }

  .forgotPassword {
    float: left;
    font-size: 10pt;
    letter-spacing: 3px;
    margin: 25px 0 10px 20px;
    text-decoration: none; }

  .forgotPassword:hover {
    color: #aba38a; }

  /* End Floating Login Form */ }
/* End Sign In / Sign Up Pages Desktop View */
/* Sign In / Sign Up Pages Tablet View */
@media only screen and (max-width: 900px) {
  .desktop_view {
    display: none; } }
/* End Sign In / Sign Up Pages Tablet View */
/* Sign In / Sign Up Pages Mobile View */
@media only screen and (max-width: 500px) {
  main h2 {
    margin: 10px 0; }
  main .form-message {
    font-size: 15px;
    margin-top: 20px; }
  main form {
    margin: 0 auto; }
    main form label {
      font-size: 10px; }
    main form input[type=text],
    main form select,
    main form input[type=password] {
      font-size: 15px; }
    main form input[type=submit] {
      font-size: 20px;
      padding: 5px 20px; }

  footer p {
    font-size: 15px; }
  footer a {
    font-size: 20px; } }
/* End Sign In / Sign Up Pages Mobile View */
/* Sign In / Sign Up Pages Mobile View */
/* Jquery UI Dialog Box */
.ui-dialog-titlebar {
  background: none;
  border: none; }

.ui-dialog-title {
  color: #bfc5d1;
  font-family: ACIDLABEL;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 25px;
  text-align: center; }

.ui-dialog-titlebar-close {
  background: none;
  border: none;
  margin-top: -20px !important; }

.ui-dialog-titlebar-close:hover {
  background: none;
  border: none;
  color: white; }

.ui-dialog {
  background: linear-gradient(#2a2a2a, #2a2a2a), url(../images/background.jpg);
  border: 5px solid #691d06 !important; }

.fixed-dialog {
  position: fixed;
  top: 50px;
  left: 50px; }

/* End Jquery UI Dialog Box */
/* Jquery UI Tabs */
.ui-tabs {
  background: none;
  border: none !important; }

.ui-tabs-nav {
  background: none;
  border: none; }

.ui-tabs-tab {
  background: none !important;
  border: none !important; }

.ui-tabs-anchor {
  background: none;
  border: none; }

.ui-tabs-panel {
  background: none;
  border: none; }

/* End Jquery UI Tabs */
/* Jquery UI Datepicker */
.ui-datepicker {
  background: linear-gradient(#2a2a2a, #2a2a2a), url(../images/background.jpg); }

.ui-datepicker-header {
  background: none;
  border: none; }

.ui-datepicker-month {
  color: white;
  font-family: ACIDLABEL;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; }

/* End Jquery UI Datepicker */
/* Validation Error Message */
.form-message {
  align-items: center;
  display: grid;
  justify-content: center;
  margin-left: 20px; }
  .form-message p {
    color: #f00;
    font-size: 18px; }

.error {
  box-shadow: inset 0 0 10px #f00; }

/* End Validation Error Message */
/* End Sign In / Sign Up Pages Mobile View */

/*# sourceMappingURL=style.css.map */
