// Imports
@import 'partials/variables';
@import 'partials/reset.scss';
@import 'partials/myjqueryui';
// End Imports

/* Global */
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $txtCol;
  font-family: $font2;
}

h1 {
  font-family: $font2;
  font-size: 35px;
  text-align: center;
}

p {
  font-family: $font2;
  font-size: 15px;
  letter-spacing: 3px;
}

th {
  color: $txtCol;
  font-family: $font1;
}

td {
  font-family: $font2;
}


a {
  color: $txtCol;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
}

a:hover {
  color: $hover;
}

a:active {
  text-shadow: none;
}

i {
  font-size: 20px;
  padding: 10px 0 0 0;
}

i:hover {
  color: $hover;
}

main {
  padding: 20px;
}

.form-message {
  p {
    color: $errCol;
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0;
    visibility: hidden;
  }
}

form {
  margin: 10px auto;
  width: 280px;
  a {
    float: right;
  }
}

label {
  color: txtCol;
  font-family: $font2;
}

input[type=text],
select {
  background: $txtCol;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: $font2;
  font-size: 15px;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

input[type=password] {
  background: $txtCol;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 25px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  background: #fff;
}

.submit {
  margin-top: 60px;
  text-align: center;
}

input[type=submit] {
  background: $butCol;
  border: none;
  box-shadow: 3px 3px 3px black;
  color: $txtCol;
  font-family: $font1;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 10px 20px;
}

input[type=submit]:hover {
  cursor: pointer;
}

input[type=submit]:active {
  box-shadow: none;
}

.date_goal {
  display: flex;
  justify-content: space-between;
}

.date,
.goal {
  width: 150px;
}

  .date {
    margin-right: 5%;
  }

/* End Global */

#wrapper {
  background: rgba($bckCol, .9);
  border: $border2;
  min-height: 100vh;
}

// login and signup header
header {
  border-bottom: $border2;
  border-radius: 3px;
  position: relative;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }

  h1 {
    font-family: $font1;
    font-size: 5vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// End login and signup header
footer {
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;

  a {
    padding-left: 10px;
    font-size: 20px;
  }
}

.profile_img {
  border: $border;
  object-fit: cover;
}


/* Sign In / Sign Up Pages Desktop View */
@import 'partials/desktop_signin';
/* End Sign In / Sign Up Pages Desktop View */

/* Profile Pages Desktop View */
@import 'partials/desktop_profile';
/* End Profile Pages Desktop View */

/* Sign In / Sign Up Pages Tablet View */
@import 'partials/tablet_signin';
/* End Sign In / Sign Up Pages Tablet View */

/* Sign In / Sign Up Pages Mobile View */
@import 'partials/mobile_signin';
/* End Sign In / Sign Up Pages Mobile View */
