// Imports
@import 'partials/variables';
@import 'partials/reset.scss';
@import 'partials/myjqueryui';
// End Imports

/* Global */
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $txtCol;
  font-family: $font2;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-family: $font2;
  font-size: 35px;
}

p {
  font-family: $font2;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px;
}

th {
  color: $txtCol;
  font-family: $font1;
}

td {
  font-family: $font2;
}

label {
  color: txtCol;
  font-family: $font2;
}

a {
  color: $txtCol;
  text-decoration: none;
}

a:hover {
  color: $hover;
}

i {
  font-size: 20px;
  padding: 10px 0 0 0;
}

i:hover {
  color: $hover;
}

input,
select {
  background: $txtCol;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: $font2;
  font-size: 20px;
  padding: 5px;
}

input[type=password] {
  font-family: $font1;
  font-size: 40px;
}

input:focus,
select:focus,
textarea:focus {
  background: #fff;
}

main {
  padding: 20px;
}

.container {
  display: none;
}

.form-message {
  p {
  color: $errCol;
  font-size: 20px;
  text-align: center;
  }
}

/* Submit */
input[type=submit] {
  background: $butCol;
  border: none;
  color: $txtCol;
  font-family: $font1;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

input[type=submit]:hover {
  color: $hover;
  cursor: pointer;
}
/* End Submit */

/* End Global */

#wrapper {
  background: rgba($bckCol, .9);
  border: $border2;
  min-height: 100vh;
}

// login and signup header
header {
  border-bottom: $border2;
  border-radius: 3px;
  position: relative;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }

  h1 {
    font-family: $font1;
    font-size: 5vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
// End login and signup header

footer {
  margin: 10px 0;
  text-align: center;
  width: 100%;

  a {
    padding-left: 10px;
    font-size: 20px;
  }
}

  /* Floating Login Form */

  .login {
  padding-top: 0px;
    form {
      margin: 15px auto 0 auto;
      padding: 0 20px;
    }

    .uid,
    .password {
      display: flex;
      justify-content: space-between;

      label {
        color: $txtCol;
        font-size: 25px;
      }
    }

    .password {
      padding-top: 10px;
    }

    input[type=text],
    input[type=password] {
      border: 0px;
      border-radius: 3px;
      width: 250px;
      margin-left: 10px;
    }

    input[type=text] {
      font-family: $font2;
    }

    input[type=password] {
      font-size: 30px;
    }


    input[type=submit] {
      float: right;
      position: relative;
      top: 10px;
    }

    input[type=submit]:hover {
      color: $hover;
      cursor: pointer;
    }
  }

  .forgotPassword {
    color: $txtCol !important;
    float: left;
    font-family: $font2;
    font-size: 10pt;
    letter-spacing: 3px;
    margin-top: 65px;
    margin-left: 30px;
    text-decoration: underline;
  }


  .forgotPassword:hover {
    color: $hover !important;

  }

  /* End Floating Login Form */

/* Sign In / Sign Up Pages Desktop View */
@import 'partials/desktop_signin';
/* End Sign In / Sign Up Pages Desktop View */

/* Sign In / Sign Up Pages Tablet View */
@import 'partials/tablet_signin';
/* End Sign In / Sign Up Pages Tablet View */

/* Sign In / Sign Up Pages Mobile View */
@import 'partials/mobile_signin';
/* End Sign In / Sign Up Pages Mobile View */
