#error,
#assets {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
  }

  #notfound {
    position: relative;
    height: 100vh;
  }

  #notfound .notfound,
  .assets {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .assets {
    border: $border;
    padding: 10px;

    li {
      margin: 20px 0;

      a {
        text-decoration: underline;
      }
    }
  }

  .notfound {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .notfound .notfound-404 {
    color: $bckCol;
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
  }

  .notfound .notfound-404 h1 {
    font-family: 'Maven Pro', sans-serif;
    color: $high;
    font-weight: 900;
    font-size: 276px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .notfound h2 {
    font-size: 46px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
  }

  .notfound p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
  }

  .notfound a {
    font-size: 30px;
  }

  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
      font-size: 162px;
    }

    .notfound h2 {
      font-size: 26px;
    }
  }
}
