@media only screen and (min-width: 900px) {
  #wrapper {
    background: none;
    border: none;
    margin: 0 auto;
    width: 650px;
  }

  .mobile_view {
    display: none;
  }

  .desktop_view {
    display: flex;
    justify-content: center;
    padding: 20px;
  }


  header {
    border: $border2;
    margin: 10px 0;

    h1 {
      font-size: 40px;
    }
  }

  main {
    background: rgba($bckCol, .9);
    border: $border2;
    height: 360px;
    padding: 0;
  }

  .content {
    width: 90%;

    h2 {
      font-size: 30px;
      margin: 20px 0;
      text-align: left;
    }

    p {
      padding: 20px 0;
    }
  }

  .logo {
    position: relative;

    img {
      width: 130%;
      z-index: 1;
    }
  }

  .signin {
    float: right;
    left: 36px;
    position: absolute;
    top: -3px;
    width: 200px;
    z-index: 2;

    a {
      font-size: 35px;
    }
  }

  .signup {
    float: right;
    position: absolute;
    left: 195px;
    top: -3px;
    width: 200px;
    z-index: 2;

    a {
      font-size: 35px;
    }
  }

  footer {
    float: left;
    position: relative;
    top: -60px;
    right: 265px;

    p {
      display: none;
    }
  }


  .signup_form {
    main {
      padding: 20px;
      height: auto;
    }
    form {
      width: 100%;
      margin-bottom: 0;
    }
    .uid_email,
    .pwd_pwd_two {
      display: flex;
      justify-content: center;
    }
        .date {
      margin-right: 50%;
    }
    input[type=submit] {
      margin: 0;
    }
  }

}
