#profile {

  /* Floating Add */
  .add {
    height: 390px;
    width: 600px;

    input[type=submit] {
      background: none;
      box-shadow: none;
      padding: 0;
      text-shadow: 3px 3px 3px black;
    }

    select,
    textarea {
      font-family: $font2;
    }
  }

  .add_heading {
    display: flex;
    justify-content: space-between;

    li {

      a {
        color: $txtCol;
        font-family: $font2;
        font-size: 20px;
      }
    }
  }

  .add_top {
    display: flex;
    justify-content: space-between;
  }

  .desc {
    width: 50%;

    textarea {
      height: 100px;
    }
  }

  .sets,
  .sets_two,
  .reps {
    width: 50px;
  }

  .time {
    width: 120px;
    margin-left: 60px;
  }


  .workout {
    height: 150px;
    margin: 0 auto;
    overflow: scroll;
  }

  .workout::-webkit-scrollbar {
    width: 10px;
  }

  .workout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  table {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }

  th {
    border: 0px;
    padding-bottom: 20px;
  }

  td {
    border-right: $border;
    letter-spacing: 3px;
    padding: 10px;

    a {
      color: $txtCol;
    }
  }

  tr {
    border-bottom: $border;
  }

  tr:first-child,
  tr:last-child {
    border-bottom: 0px;
  }

  table,
  td:last-child,
  th:last-child {
    border-right: 0px;
  }

  .done {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    a {
      color: $txtCol;
      font-family: $font2;
      font-size: 20px;
    }
  }

  /* End Floating Add_Two */

  // Header
  .top {
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 10px 40px 0;
    width: 100%;
  }

  .profile_img {
    border: $border;
    object-fit: cover;
    margin-right: 10px;
    overflow: hidden;
    height: 315px;
    width: 185px;
  }

  // View Workout
  .view {
    border: $border;
    display: block;
    height: 315px;
    margin: 0 auto;
    position: relative;
    width: 560px;

    h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }


    .view_schedule {
      display: flex;
      text-align: left;
    }

    .view-icon {
      border-bottom: $border;
      border-right: $border;
      text-align: center;
      width: 120px;

      h4 {
        background: $brdCol;
        padding: 3px 0;
        text-align: center;
      }

      p {
        border-bottom: $border;
        font-size: 15px;
        margin: 0px;
        padding: 3px 0;
      }

      .edit {
        border-top: $border;
        display: flex;
        justify-content: space-around;

        a {
          flex: 1 1 20em;
          padding: 10px 0;
        }
      }

      a:first-child {
        border-right: $border;
      }

      img {
        margin: 0 auto;
        padding: 10px 0;
        width: 60%;
      }
    }

    .view_content {
      padding: 15px;

      h2 {
        padding-bottom: 10px;
      }
    }

    .workout {
      height: 180px;
      overflow: scroll;
    }

    .workout::-webkit-scrollbar {
      width: 10px;
    }

    .workout::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .1);
      border-radius: 5px;
    }

    table {
      border-collapse: collapse;
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }

    th {
      border: 0px;
      padding-bottom: 20px;
    }

    td {
      border-right: $border;
      padding: 10px;
    }

    tr {
      border-bottom: $border;
    }

    tr:first-child,
    tr:last-child {
      border-bottom: 0px;
    }

    table,
    td:last-child,
    th:last-child {
      border-right: 0px;
    }

    th,
    td:first-child {
      color: $txtCol;
      font-family: $font2;
    }
  }

  // End View Workout

  // End Top

  // Schedule
  #sunday,
  #monday,
  #tuesday,
  #wednesday,
  #thursday,
  #friday,
  #saturday {
    border: $border;
    display: inline-block;
    height: 210px;
    text-align: center;
    width: 100%;
    position: relative;
  }

  #schedule {
    display: flex;

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 83px;
    }

    h4 {
      background: $brdCol;
      padding: 5px 0;
      position: absolute;
      text-shadow: none;
      left: 0%;
      top: 100%;
      transform: translate(-0%, -100%);
      width: 100%;
    }

    p {
      border-bottom: $border;
      color: $txtCol;
      font-size: 15px;
      margin: 0px;
      padding: 3px;
      text-align: center;
    }
  }

  #sunday:hover,
  #monday:hover,
  #tuesday:hover,
  #wednesday:hover,
  #thursday:hover,
  #friday:hover,
  #saturday:hover {
    box-shadow: 0 0 15px $txtCol;
    cursor: pointer;
  }

  .current_day {
    background: $high;
  }

  .add_day {
    height: 100%;
    padding: 0;

    h1 {
      font-size: 120px;
      left: 50%;
      position: absolute;
      top: 30%;
      transform: translate(-50%, -30%);
    }
  }

  .rest_day {
    h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // End Schedule

  // Find a workout
  .flex {
    display: flex;
    justify-content: space-between;
    clear: both;
  }

  #find,
  .admin {
    border: $border;
    height: 250px;
    margin: 80px 0px;
    width: 40%;
  }

  #find {

    h1 {
      border-bottom: $border;
      font-family: $font1;
      font-size: 25px;
      margin: 0;
      padding: 5px;
    }

    form {
      border-bottom: $border;
      display: flex;
      margin: 0 0 13px 0;

      input[type=submit] {
        box-shadow: none;
        height: 50px;
        width: 30%;
      }
    }

    #search {
      border-radius: 0;
      height: 50px;
      margin: 0;
      width: 40%;
    }

    #type {
      border-radius: 0;
      margin-bottom: 0;
      margin-left: 1px;
      height: 50px;
      width: 30%;
    }

  }

  // End Find a Workout

  // Admin
  .admin {
    text-align: center;
    position: relative;

    h1 {
      border-bottom: $border;
      font-family: $font1;
      font-size: 25px;
      margin: 0;
      padding: 5px;
    }

    input[type=text] {
      background: $txtCol;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      font-family: $font2;
      font-size: 15px;
      height: 30px;
      margin: 5px;
      padding: 5px;
      width: 35%;
    }

    .advertise_img {
      width: 100%;
      height: 100%;
    }

    .advertise {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .admin_img {
      width: 50%;
      height: 45%;
    }

    .current {
      z-index: 19;
    }

    input[type=file] {
      width: 35%;
    }
  }

  // End Admin

  // Social Media Area
  .social {
    border: $border;
    display: flex;
    height: 566px;

    h2 {
      border-bottom: $border;
      font-family: $font1;
      margin: 0;
      padding: 5px 0;
      text-align: center;
    }

    aside {
      flex-basis: 30%;
    }
  }

  .user-photo img {
    width: 100%;
    object-fit: cover;
  }

  /* Live Update */
  .update {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 10px 10px 20px;
  }

  .update::-webkit-scrollbar {
    width: 10px;
  }

  .update::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .user_update {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;

    .name {
      margin: 5px 0px 0px 10px;
      padding: 5px;
      width: 100%;

      span {
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }

  /* End Live Update */

  /* Chatbox Area */
  #messenger {
    border-left: $border;
    border-right: $border;
    flex-basis: 55%;
    height: auto;
  }

  .chatbox {
    display: grid;
    padding: 0 20px 0 10px;
  }

  .chatlogs {
    height: 453px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
    transform: rotate(180deg);
    direction: rtl;
  }

  .chatlogs::-webkit-scrollbar {
    width: 10px;
  }

  .chatlogs::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }


  .chat {
    align-items: flex-start;
    display: flex;
    margin-bottom: 10px;
    transform: rotate(180deg);
    direction: ltr;

    .user-photo {
      background: #ccc;
      border-radius: 50%;
      height: 60px;
      overflow: hidden;
      width: 60px;
    }

    .chat-message {
      border: $border;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      margin: 5px 10px 0;
      padding: 15px;
      width: 80%;

      span {
        font-size: 10px;
      }
    }
  }

  .friend {

    .chat-message {
      background: rgba(0, 0, 0, .7);
    }
  }

  .self {
    .chat-message {
      background: $brdCol;
      order: -1;
    }
  }

  .chat-form {
    align-items: flex-start;
    border-top: $border;
    display: flex;
    width: 100%;

    textarea {
      height: 29px;
    }

    textarea:focus {
      background: #fff;
    }

    textarea::-webkit-scrollbar {
      width: 10px;
    }

    textarea::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .1);
      border-radius: 5px;
    }

    #btn {
      box-shadow: none;
      color: $txtCol;
      font-family: $font1;
      font-size: 20px;
      padding: 10px 20px;

    }

    #btn:hover {
      color: $hover;
      cursor: pointer;
    }
  }

  /* End Chat Box Area */

  /* Who's Online */
  .users {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 10px 10px 20px;
  }

  .users::-webkit-scrollbar {
    width: 10px;
  }

  .users::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .online {
    align-items: flex-start;
    display: flex;
    margin-bottom: 20px;

    .user-photo {
      background: #ccc;
      border-radius: 50%;
      height: 50px;
      overflow: hidden;
      width: 50px;
    }


    .name {
      margin: 5px 0px 0px 10px;
      padding: 5px;
      width: 80%;

      span {
        font-size: 10px;
        padding-left: 10px;
      }
    }
  }

  /* End Who's Online */

  /* End Social Media Area */

  // Tablet Profile
  @media only screen and (max-width: 980px) {

    .view {
      width: 450px;
    }

    #sunday,
    #monday,
    #tuesday,
    #wednesday,
    #thursday,
    #friday,
    #saturday {
      height: 150px;
    }

    #schedule {
      img {
        width: 60px;
      }

      h4 {}
    }

    .add_day {
      h1 {
        font-size: 110px;
      }
    }

    .social aside:first-child {
      display: none;
    }

    #messenger {
      border-left: none;
      flex-basis: 70%;
    }

    #find,
    .admin {
      width: 50%;
    }

    #find {
      form {
        width: 100%;

        input[type=submit] {
          font-size: 18px;
        }
      }
    }

  }


  @media only screen and (max-width: 850px) {

    .flex {
      display: block;
    }

    #find,
    .admin {
      width: 100%;
    }

  }

  // end Tablet Profile

  // Mobile Profile
  @media only screen and (max-width: 690px) {

    .top {
      padding: 0;
      height: auto;
    }

    .profile_img {
      height: 250px;
      margin-right: 0;
      width: 100%; //keeps changing
    }

    .view_content,
    .workout {
      display: none;
    }

    .view {
      flex: 0 0 50%;
      height: 250px;

      h1 {
        font-size: 25px;
      }

      .view-icon {
        border: none;
        width: 100%;

        h4 {
          font-size: 20px;
          padding: 10px 0;
        }

        a {
          font-size: 20px;
        }

        img {
          padding: 49px 0;
          width: 90px;
        }
      }
    }

    main {
      padding: 0;
    }

    #schedule {
      flex-flow: wrap;
      justify-content: space-between;
    }

    .hidden {
      display: none !important;
    }

    #sunday,
    #monday,
    #tuesday,
    #wednesday,
    #thursday,
    #friday,
    #saturday {
      margin: 25px 0;
      width: 45%;
    }

    .admin {
      display: none;
    }

    #find,
    #updates {
      border: none;
      height: 100vh;
      margin: 0;
      width: 100%;
      z-index: 5;
    }

    #online_users {
      height: 100vh;
      margin-top: 20px;
    }

    #messenger {
      border-right: none;
    }

    .chatbox {
      height: 100vh;
    }

    .social h2,
    #find h1 {
      display: none;
    }

    .flex {
      flex-flow: wrap;
    }

    .social {
      border: none;
      display: block;
      height: auto;
    }

    .chat-form {
      border: $border;
      margin-bottom: 0;
    }

    .workout {
      height: 410px;
      width: 100%;
    }

  }

  @media only screen and (max-width: 400px) {

    .profile_img,
    .view {
      height: 200px;
    }
  }

  // end Mobile Profile

}

// end Profile
