#profile {

  #wrapper {
    background: rgba($bckCol, .9);
    border: $border2;
    margin: 0 auto;
    width: 85%;
  }









  /* Floating Add */
  .add {
    height: 430px;
    width: 600px;

    input[type=submit] {
      background: none;
      box-shadow: none;
      padding: 0;
      text-shadow: 3px 3px 3px black;
    }

    select,
    textarea {
      font-family: $font2;
    }
  }

  .add_heading {
    display: flex;
    justify-content: space-between;

    li {

      a {
        color: $txtCol;
        font-family: $font2;
        font-size: 20px;
      }
    }
  }

  .add_top {
    display: flex;
    justify-content: space-between;
  }

  .desc {
    width: 50%;

    textarea {
      height: 100px;
    }
  }

  .sets,
  .sets_two,
  .reps {
    width: 50px;
  }

  .time {
    width: 100px;
  }


  .workout {
    height: 150px;
    margin: 0 auto;
    overflow: scroll;
  }

  .workout::-webkit-scrollbar {
    width: 10px;
  }

  .workout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  table {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }

  th {
    border: 0px;
    padding-bottom: 20px;
  }

  td {
    border-right: $border;
    padding: 10px;

    a {
      color: $txtCol;
    }
  }

  tr {
    border-bottom: $border;
  }

  tr:first-child,
  tr:last-child {
    border-bottom: 0px;
  }

  table,
  td:last-child,
  th:last-child {
    border-right: 0px;
  }

  .done {
    display: flex;
    justify-content: center;

    a {
      color: $txtCol;
      font-family: $font2;
      font-size: 20px;
    }
  }

  /* End Floating Add_Two */











  // Header
  header {
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 10px 0 10px;
    width: 100%;
  }

  .profile_img {
    border: $border;
    object-fit: cover;
    margin-right: 10px;
    overflow: hidden;
    height: 315px;
    width: 185px;
  }







  // View Workout
  .view {
    border: $border;
    display: block;
    height: 315px;
    margin: 0 auto;
    width: 560px;

    .view_schedule {
      display: flex;
      text-align: left;
    }

    .view-icon {
      border-bottom: $border;
      border-right: $border;
      text-align: center;
      width: 120px;

      h4 {
        background: $brdCol;
        padding: 3px 0;
        text-align: center;
      }

      p {
        border-bottom: $border;
        font-size: 15px;
        margin: 0px;
        padding: 3px 0;
      }

      .edit {
        border-top: $border;
        display: flex;
        justify-content: space-around;

        a {
          flex: 1 1 20em;
          padding: 10px 0;
        }
      }

      a:first-child {
        border-right: $border;
      }

      img {
        margin: 0 auto;
        padding: 10px 0;
        width: 60%;
      }
    }

    .view_content {
      padding: 15px;
    }

    .workout {
      height: 45%;
      overflow: scroll;
    }

    .workout::-webkit-scrollbar {
      width: 10px;
    }

    .workout::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .1);
      border-radius: 5px;
    }

    table {
      border-collapse: collapse;
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }

    th {
      border: 0px;
      padding-bottom: 20px;
    }

    td {
      border-right: $border;
      padding: 10px;
    }

    tr {
      border-bottom: $border;
    }

    tr:first-child,
    tr:last-child {
      border-bottom: 0px;
    }

    table,
    td:last-child,
    th:last-child {
      border-right: 0px;
    }

    th,
    td:first-child {
      color: $txtCol;
      font-family: $font2;
    }
  }

  // End View Workout

  // End Header







  // Navigation
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      width: 90px;
      height: 90px;
    }

    form {
      margin: 0;
      padding-top: 15px;
      width: 90px;
    }

    button {
      background: none;
      border: none;
      color: $txtCol;
      font-family: $font2;
      font-size: 20px;
      text-shadow: 3px 3px 3px black;
    }

    button:hover {
      color: $hover;
      cursor: pointer;
    }
  }

  .week,
  .rank,
  .follow {
    padding: 5px;
    height: 70px;
    text-align: center;
    width: 90px;

    h2 {
      padding-bottom: 5px;
    }
  }

  .rank {
    border: $border;
  }

  #mobile_menu {
    display: none;
  }

  // End Navigation












  main {
    padding: 10px;
  }














  // Schedule
  #sunday,
  #monday,
  #tuesday,
  #wednesday,
  #thursday,
  #friday,
  #saturday {
    border: $border;
    display: inline-block;
    height: 190px;
    text-align: center;
    width: 100%;
  }

  #schedule {
    display: flex;

    img {
      margin: 10px;
      padding: 20px 0;
      width: 83px;

    }

    h4 {
      background: $brdCol;
      padding: 5px 0;
      text-shadow: none;
    }

    p {
      border-bottom: $border;
      color: $txtCol;
      font-size: 15px;
      margin: 0px;
      padding: 3px;
      text-align: center;
    }
  }

  .view_day:hover,
  .add_day:hover {
    box-shadow: 0 0 15px $txtCol;
    cursor: pointer;
  }

  .current_day {
    background: $high;
  }

  .add_day {
    height: 100%;

    h1 {
      font-size: 120px;
      margin: 0;
    }
  }

  .rest_day {
    h1 {
      padding-top: 40%;
    }
  }

  // End Schedule











  // Find a workout
  .flex {
    display: flex;
    justify-content: space-between;
    clear: both;
  }

  #find,
  .leader {
    border: $border;
    height: 250px;
    margin: 80px 0px;
    width: 45%;
  }

  #find {

    h1 {
      border-bottom: $border;
      font-family: $font1;
      font-size: 25px;
      margin: 0;
      padding: 5px;
    }

    form {
      border-bottom: $border;
      display: flex;
      margin: 0 0 13px 0;

      input[type=submit] {
        box-shadow: none;
        height: 50px;
        width: 30%;
      }
    }

    #search {
      border-radius: 0;
      height: 50px;
      margin: 0;
      width: 40%;
    }

    #type {
      border-radius: 0;
      margin-bottom: 0;
      margin-left: 1px;
      height: 50px;
      width: 30%;
    }

  }

  // End Find a Workout














  // Scoreboard
  .leader {
    text-align: center;
    position: relative;

    h1 {
      border-bottom: $border;
      font-family: $font1;
      font-size: 25px;
      margin: 0;
      padding: 5px;
    }

    input[type=text] {
      background: $txtCol;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      font-family: $font2;
      font-size: 15px;
      height: 30px;
      margin: 5px;
      padding: 5px;
      width: 35%;
    }

    .advertise_img {
      width: 100%;
      height: 100%;
    }

    .advertise {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .admin_img {
      width: 50%;
      height: 45%;
    }

    input[type=file] {
      width: 35%;
    }
  }

  .score {

    height: 180px;
    padding: 10px 10px 10px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .score::-webkit-scrollbar {
    width: 10px;
  }

  .score::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  // End Scoreboard




















  // Social Media Area
  .social {
    border: $border;
    display: flex;
    height: 566px;

    h2 {
      border-bottom: $border;
      font-family: $font1;
      margin: 0;
      padding: 5px 0;
      text-align: center;
    }

    aside {
      flex-basis: 30%;
    }
  }



















  /* Live Update */
  .update {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 10px 10px 20px;
  }

  .update::-webkit-scrollbar {
    width: 10px;
  }

  .update::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .user_update {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;

    .name {
      margin: 5px 0px 0px 10px;
      padding: 5px;
      width: 100%;

      span {
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }

  /* End Live Update */














  /* Chatbox Area */
  #messenger {
    border-left: $border;
    border-right: $border;
    flex-basis: 55%;
    height: auto;
  }

  .chatbox {
    display: grid;
    padding: 0 20px 0 10px;
  }

  .chatlogs {
    height: 453px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
  }

  .chatlogs::-webkit-scrollbar {
    width: 10px;
  }

  .chatlogs::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }


  .chat {
    align-items: flex-start;
    display: flex;
    margin-bottom: 10px;

    .user-photo {
      background: #ccc;
      border-radius: 50%;
      height: 60px;
      overflow: hidden;
      width: 60px;
    }

    .user-photo img {
      width: 100%;
    }

    .chat-message {
      border: $border;
      border-radius: 10px;
      margin: 5px 10px 0;
      padding: 15px;
      width: 80%;
    }
  }

  .friend {

    .chat-message {
      background: rgba(0, 0, 0, .7);
    }
  }

  .self {
    .chat-message {
      background: $brdCol;
      order: -1;
    }
  }

  .chat-form {
    align-items: flex-start;
    border-top: $border;
    display: flex;
    width: 100%;

    textarea {
      height: 29px;
    }

    textarea:focus {
      background: #fff;
    }

    textarea::-webkit-scrollbar {
      width: 10px;
    }

    textarea::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .1);
      border-radius: 5px;
    }

    #btn {
      box-shadow: none;
      color: $txtCol;
      font-family: $font1;
      font-size: 20px;
      padding: 10px 20px;

    }

    #btn:hover {
      color: $hover;
      cursor: pointer;
    }
  }

  /* End Chat Box Area */



















  /* Who's Online */
  .users {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 10px 10px 20px;
  }

  .users::-webkit-scrollbar {
    width: 10px;
  }

  .users::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .online {
    align-items: flex-start;
    display: flex;
    margin-bottom: 20px;

    .user-photo {
      background: #ccc;
      border-radius: 50%;
      height: 50px;
      overflow: hidden;
      width: 50px;
    }

    .user-photo img {
      width: 100%;
    }

    .name {
      margin: 5px 0px 0px 10px;
      padding: 5px;
      width: 80%;

      span {
        font-size: 10px;
        padding-left: 10px;
      }
    }
  }

  /* End Who's Online */

















  /* End Social Media Area */

  // Tablet Profile
  @media only screen and (max-width: 980px) {

    #wrapper {
      width: 100%;
      box-sizing: border-box;
    }

    .view {
      width: 450px;
    }

    .social aside:first-child {
      display: none;
    }

    #messenger {
      border-left: none;
      flex-basis: 70%;
    }

    #find,
    .leader {
      width: 50%;
    }

    #find {
      form {
        width: 100%;

        input[type=submit] {
          font-size: 18px;
        }
      }
    }

  }

  // end Tablet Profile














  // Mobile Profile
  @media only screen and (max-width: 690px) {

    header {
      padding: 0;
      height: auto;
    }

    .profile_img {
      height: 250px;
      margin-right: 0;
      width: 100%; //keeps changing
    }

    .view_content,
    .workout {
      display: none;
    }

    .view {
      flex: 0 0 50%;
      height: 250px;

      .view-icon {
        border: none;
        width: 100%;

        h4 {
          font-size: 20px;
          padding: 10px 0;
        }

        a {
          font-size: 20px;
        }

        img {
          padding: 20px 0;
          width: 110px;
        }
      }
    }

    nav {
      border-bottom: $border3;

      padding: 10px 5px;

      h2 {
        font-size: 15px;
      }

      img {
        display: none;
      }

      form {
        width: auto;
      }

      form button span {
        display: none;
      }

      form {
        padding-top: 5px;
      }

      form button {
        font-size: 25px;
      }
    }

    // Mobile Menu
    #mobile_menu {
      display: block;

      .nav-container {
        border: $border;
        position: absolute;
        top: 353px;
        left: 8px;
        height: 480px;
        width: 250px;
        z-index: -1;
        background: $mobile;
        opacity: 0;
        transition: all 0.2s ease;
      }

      .nav-container ul {
        position: absolute;
        top: 190px;
        transform: translateY(-50%);
        width: 100%;
      }

      .nav-container ul li {
        border-bottom: $border;
        display: block;
        padding: 25px 0;
        width: 100%;
        text-align: left;
      }

      .nav-container ul li:nth-child(1) a {
        transition-delay: 0.2s;
      }

      .nav-container ul li:nth-child(2) a {
        transition-delay: 0.3s;
      }

      .nav-container ul li:nth-child(3) a {
        transition-delay: 0.4s;
      }

      .nav-container ul li:nth-child(4) a {
        transition-delay: 0.5s;
      }

      .nav-container ul li:not(:first-child) {
        margin-left: 0;
      }

      .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: $txtCol;
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 3px;
        transform: translateY(-20px);
        transition: all 0.2s ease;
      }

      .nav-open {
        cursor: pointer;
        font-size: 25px;
        z-index: 9999;
      }

      #nav:checked ~ .nav-container {
        z-index: 9990;
        opacity: 1;
      }

      #nav:checked ~ .nav-container ul li a {
        opacity: 1;
        transform: translateY(0);
      }

    }

    // end Mobiel Menu

    .week,
    .rank,
    .follow {
      padding: 5px;
      height: 60px;
      text-align: center;
      width: 90px;

      h2 {
        padding-bottom: 5px;
      }
    }

    main {
      padding: 0;
    }

    #schedule {
      flex-flow: wrap;
      justify-content: space-between;
    }

      .hidden {
        display: none!important;
      }

    #sunday,
    #monday,
    #tuesday,
    #wednesday,
    #thursday,
    #friday,
    #saturday {
      margin-bottom: 35px;
      width: 200px;
    }

    .leader {
      display: none;
    }

    #find,
    #updates,
    #online_users {
      border: none;
      height: 480px;
      margin: 0;
      width: 100%;
      z-index: 5;
    }

    #messenger {
      border-right: none;
    }

    .social h2,
    #find h1 {
      display: none;
    }

    .flex {
      flex-flow: wrap;
    }

    .social {
      border: none;
      display: block;
      height: auto;
    }

    .chat-form {
      border: $border;
      margin-bottom: 0;
    }

    .workout {
      height: 410px;
      width: 100%;
    }

  }


  // end Mobile Profile

}
