@media only screen and (max-width: 980px) {
  .hide_about {
    display: none;
  }

  #signin #about {
    width: 80%;
  }

  .login,
  #signup {

    form {
      width: 380px;

      .pwd_two {
        margin-top: 10px;
      }
    }
  }

}
