// Theme Color
$bckCol: #2a2a2a;
$brdCol: rgba(105, 29, 6, 0.7);;
$butCol: #8e320b;
$errCol: #f00;
$hover: #aba38a;
$txtCol: #e1e1e1;
// End Theme Color

// Borders
$border: 1px solid $txtCol;
$border2: 8px solid $brdCol;
// End Borders

/* Fonts */
@font-face {
  src: url(../fonts/ACIDL___.otf);
  font-family: ACIDLABEL;
}
@font-face {
  src: url(../fonts/cityburn.ttf);
  font-family: cityburn;
}

$font1: ACIDLABEL, Impact, Charcoal, sans-serif;
$font2: cityburn, Impact, Charcoal, sans-serif;
/* End Fonts */
