
#wrapper {
  background: rgba($bckCol, .9);
  border: $border2;
  min-height: 100vh;
}

// login and signup header
header {
  border-bottom: $border2;
  border-radius: 3px;
  position: relative;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }

  h1 {
    font-family: $font1;
    font-size: 5vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// End login and signup header
footer {
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;

  a {
    padding-left: 10px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 900px) {

  #wrapper {
    background: none;
    border: none;
    margin: 0 auto;
    width: 650px;
  }

  header {
    border: $border2;
    margin: 10px 0;

    h1 {
      font-size: 40px;
    }
  }

  #signin {

    main {
      background: rgba($bckCol, .9);
      border: $border2;
      display: flex;
      height: 350px;
      justify-content: center;
      padding: 10px;
    }

    .content {
      width: 80%;

      h2 {
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
      }
    }

    .logo {
      position: relative;
      right: 5px;

      img {
        width: 130%;
        z-index: 1;
      }
    }

    footer {
      float: left;
      position: relative;
      top: -80px;
      right: 150px;
    }

    .submit {
      margin-top: 40px;
    }

  }

  #signup {

    main {
      background: rgba($bckCol, .9);
      border: $border2;
      height: 350px;
      padding: 10px;
    }

    form {
      width: 80%;
    }

    .uid_email,
    .pwd_pwd_two {
      display: flex;
      justify-content: center;
    }

    .uid,
    .email,
    .pwd,
    .pwd_two {
      width: 250px;
    }

    .uid {
      margin-right: 5%;
    }

    .pwd {
      margin-right: 5%;
    }

    .submit {
      margin-top: 25px;
    }
  }

}

@media only screen and (max-width: 900px) {
  .logo {
    display: none;
  }

  form {
    width: 250px;

    .pwd_two {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  form {
    width: 90%;
  }
}
