.social_signup {
  text-align: center;
  width: 100%;

  a {
    padding: 5px;
    font-size: 20px;
  }
}

#signin,
#signup {
  main {
    padding-top: 90px;
  }
}

#signin {

  main {
    display: flex;
    justify-content: space-around;
  }

  .login {
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }

  form {
    width: 300px;
  }
  }


  #about {
    width: 45%;

    h1 {
      font-size: 30px;
      margin-bottom: 40px;
      text-align: left;
    }

    p {
      line-height: 25px;
    }
  }
}

@media only screen and (min-width: 900px) {

  #signup {

    form {
      width: 550px;
    }

    .uid_email,
    .pwd_pwd_two {
      display: flex;
      justify-content: space-between;
    }

    .uid,
    .email,
    .pwd,
    .pwd_two {
      width: 250px;
    }

    .uid,
    .pwd {}

    .date,
    .goal {
      margin: 20px 0;
    }
  }

}
