

// End login and signup header
footer {
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;

  a {
    padding-left: 10px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 900px) {

  #signin {

    main {
      display: flex;
      justify-content: space-around;
      padding-top: 60px;
    }

    .login {
      width: 30%;

      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .content {
      width: 45%;

      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: left;
      }

      p {
        line-height: 25px;
      }
    }

    footer {
      margin-top: 50px;
    }

    .submit {
      margin-top: 40px;
    }

  }

  #signup {

    main {
      padding-top: 60px;
    }

    form {
      width: 550px;
    }

    .uid_email,
    .pwd_pwd_two {
      display: flex;
      justify-content: space-between;
    }

    .uid,
    .email,
    .pwd,
    .pwd_two {
      width: 250px;
    }

    .uid, .pwd {
    }

    .date, .goal {
      margin: 20px 0;
    }

    .submit {
      margin-top: 35px;
    }
  }

}

@media only screen and (max-width: 900px) {
  .logo {
    display: none;
  }

  form {
    width: 280px;

    .pwd_two {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
    header{
    h1 {
      font-size: 29px;
    }
  }

  form {
    width: 90%;
  }
}
